body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}

.container{
    display: grid;
    grid-template-columns: 10vw;
    grid-template-rows: 1000px 1000px 1000px 1000px 300px;
    grid-template-areas: "cabecalho cabecalho cabecalho"
                         "graduation graduation graduation"
                         "experiencias experiencias experiencias"   
                         "ssk ssk ssk"
                         "rodape rodape rodape"
    ;
    overflow: hidden;
}

.cabecalho {
    background:  rgba(51, 51, 51, 0.959);
    grid-area: cabecalho;
        
    
}
.bttEnter {
    height: 30px;
    width: 80px;
    position: absolute;
    top: 70%;
    left: 50%;
    border-radius: 10%;
    color: #ddd;
    
}



#name {
    font-size: 30px;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3em;
    color: #fff;
}
.navbar {
    list-style: none;
    font-weight: 500;
    color: #fff;
    position: relative;
    top: 800px;
    left: 1300px;
    
}

.navbar li {
    display: inline;
    padding-right: 5px;
    
}
.navbar a{
    padding: 10px;
    padding-left: 0;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.navbar a:hover {
    
    background: darkgreen;
    padding: 10px;
    padding-left: 0;
    color: #fff;
    margin: 0;
    
}

                        /* Parte de graduacao e foto*/
.graduation {
    background-color: transparent;
    grid-area: graduation;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: static;
    background-image: url(Images/graduation-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
              
}


#graduacaoback {
    z-index: -10;
    
}

.graduationRafa {
    
    position: static;
    z-index: 10;
}
.graduationRafa img{
    position: relative;
    left: 20%;
    top: 20%;
    z-index: 10;
    
}

.graduationTxt {
    color: #fff;
        
}

.graduationTxt > h1 {
    text-align: center;
}
.graduationTxt > p {
    text-align: justify;
}






                    /* Parte de experiencias profissionais*/

.experiencias {
    background: cornflowerblue;
    grid-area: experiencias;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(Images/experience-img.jpg);
    background-size: cover;
    
    
}
.expIrl {
    color: #fff;
}
.expBrl {
    color: #fff;
}

                        /* Parte de skills*/
.ssk{
    background: yellowgreen;
    grid-area: ssk;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

                        /* Parte de rodape e contatos*/
.rodape {
    background: rgba(117, 110, 108, 0.616);
    grid-area: rodape;
    color: #fff;
    text-align: center;
    position: static;
}

.rodape #phone {
    position: absolute;
    padding-top: 100px;
    width: 25%;

}
.rodape #email {
    position: absolute;
    padding-top: 100px;
    width: 100%;

}
.rodape #webpage {
    position: absolute;
    padding-top: 100px;
    width: 175%;

}
.rodape #cv {
    font-size: 20px;
    height: 50px;
    width: 130px;
    background: rgba(158, 145, 145, 0.185);
    color: #fff;
    border-radius: 12%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.185);
    padding-bottom: 5px;
    
}

                    /* Seta para voltar ao topo*/
#arrowdown {
    padding-top: 10px;
    padding-right: 10px;
}

