body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.959);
    position: static;
    
}
        /* Parte de midias sociais */
.social_media {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
}
.social_media ul{
    list-style: none;
    padding: 5px;
    margin: 0px;
    z-index: 9999;
    
}
.social_media li>a {
    text-decoration: none;
}
.social_media ul li {
    font-size: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 30px;
    transition: 0.3s;
    text-align: center;
    border-radius: 5px;
       
}
            /* LinkedIn icon*/
.social_media li:nth-child(1) {
    background-color: #007bb5;
        
}
.social_media li:nth-child(1):hover {
    background-color:#fff;
    
}
            /* Facebook icon*/
.social_media li:nth-child(2){
    background-color: #3b5998;
    
    
}

.social_media li:nth-child(2):hover {
    background-color: #fff;
    
}
            /* GitHub icon*/
.social_media li:nth-child(3){
    background-color: black;
    
}
.social_media li:nth-child(3):hover {
    background-color: #fff;
}








.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1000px 1000px 1000px 1000px 300px;
    grid-template-areas: "cabecalho"
                         "graduation"
                         "experiencias"   
                         "ssk"
                         "rodape"
    ;
    
}
                 /* Parte de cabecalho */
.cabecalho {
    /* background:  linear-gradient(to bottom, rgba(219, 124, 14, 0.7), rgba(219, 124, 14, 0.6)); */
    background: linear-gradient(to bottom, rgb(47, 87, 93),rgb(153, 174, 173));
    grid-area: cabecalho;
        
}
#bttnEnter {
    height: 30px;
    width: 80px;
    position: absolute;
    top: 70%;
    left: 50%;
    border-radius: 10%;
    background-color: transparent;
    color: #fff;
    
}


        /* My name */
#name {
    font-size: 30px;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3em;
    color: #fff;
    text-align: right;
}
        /* Navigation bar  */

.navigation {
    position: relative;
    top: 1000px;
    z-index: 999;
    background: linear-gradient(to right, rgb(138, 133, 133),rgba(138, 133, 133,0.9));
    
}
.navigation {
    position: sticky;
    top: 10px;
    z-index: 999;


}

.navbar {
    list-style: none;
    font-weight: 500;
    
        
}
.navbar ul {
    position: absolute;
    height: 50px;
    
    background: #28363d;

}

.navbar li {
    position: sticky;
    display: inline;
    padding-right: 5px;
    top: 0px;
    
}
.navbar a{
    padding: 10px;
    padding-left: 10px;
    text-decoration: none;
    list-style: none;
    color: rgb(12, 9, 9);
    font-weight: 800;
}

.navbar a:hover {
    
    background: rgba(100, 57, 0, 0.534);
    padding: 10px;
    padding-left: 10px;
    color: #fff;
    margin: 0;
    
}

                        /* Parte de graduacao e foto*/
.graduation {
    /* background:  linear-gradient(to bottom, rgba(219, 124, 14, 0.6), rgba(219, 124, 14, 0.4)); */
    background: linear-gradient(to bottom, rgb(153, 174, 173), #DEE1DD);
    grid-area: graduation;
    display: grid;
    grid-template-columns: 5fr 0.2fr 5fr;
    position: static;
    /*background-image: url(Images/graduation-day.jpg);*/
    /* background-repeat: no-repeat;
    background-size: cover; */
    
              
}




.imgRafa {
    
    position: static;
    
    margin-top: 50px;
    padding-left: 20%;
    padding-top: 85px;
    
}
.imgRafa img{
    position: relative;
    height: auto;
    max-width: 90%;
        
}

.graduationTxt {
    color: rgb(15, 1, 1);
    position: relative;
    margin-top: 50px;
    
        
}

.graduationTxt > h2 {
    text-align: center;
    position: relative;
    font-size: 30px;
    
}
.graduationTxt > p {
    text-align: justify;
}






                    /* Parte de experiencias profissionais*/

.experiencias {
    /* background: linear-gradient(to bottom, rgba(219, 124, 14, 0.4), rgba(219, 124, 14, 0.2)); */
    background: linear-gradient(to bottom, #DEE1DD,rgb(153, 174, 173)) ;
    grid-area: experiencias;
    display: grid;
    grid-template-columns: 5fr 0.2fr 5fr;
    /*background-image: url(Images/experience_book.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    position: static;
    
    
}
.expIrl {
    color: rgb(0, 0, 0);
    position: relative;
    left: 30px;
    margin-top: 100px;
}
.expIrl>h2{
    position: relative;
    bottom: 50px;

}


.expBrl {
    color: rgb(0, 0, 0);
    position: relative;
    margin-top: 100px;
}
.expBrl>h2{
    position: relative;
    bottom: 50px;
}



                        /* Parte de skills*/
.ssk{
    /*background-image: url(Images/chartsBg.jpg);*/
    /* background: linear-gradient(to bottom, rgba(219, 124, 14, 0.2), rgba(219, 124, 14, 0.1)); */
    background: linear-gradient(to bottom, rgb(153, 174, 173), rgb(47, 87, 93));
    grid-area: ssk;
    display: grid;
    grid-template-columns: 5fr 0.2fr 5fr;
}
.knowledge {
    color: rgb(0, 0, 0);
    position: relative;
    left: 30px;
    margin-top: 100px;

}
.knowledge>h2 {
    position: relative;
    bottom: 50px;


}

.skills {
    color: rgb(0, 0, 0);
    position: relative;
    left: 0px;
    margin-top: 100px;
}
.skills>h2 {
    position: relative;
    bottom: 50px;
}







                        /* Parte de rodape e contatos*/
                        
.rodape {
    /* background: linear-gradient(to bottom, rgba(219, 124, 14, 0.1), rgba(219, 124, 14, 0.0)); */
    background: rgba(47, 87, 93,1);
    grid-area: rodape;
    color: black;
    position: static;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.rodape #phone {
    
    width: 100%;
    
}

#phone>h2{
    text-align: center;
    position:relative;
    top: 130px;

}

.rodape #email {
       
    width: 100%;

}

#email>h1 {
    text-align: center;
    position: relative;
    
}

#email>p {
    text-align: center;
    position: relative;
    font: bold 18px normal;
    
}

#email>h2 {
    text-align: center;
    position: relative;
    top: 80px;
}

.rodape #webpage {
    
    width: 100%;
}

#webpage>h2 {
    text-align: center;
    position:relative;
    top: 130px;
}

                    /* Seta para voltar ao topo*/
#arrowdown {
    position: sticky;
    padding-top: 10px;
    padding-right: 10px;
}

