
                    /* Parte de cabecalho*/ 


body {
  margin:0;
  padding:0;
  
  
}

header {

    background-color: rgba(51, 51, 51, 0.959);
    height: 50px;
    font: italic 30px normal;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    text-align: center;
    position: static;
    width: auto;
    padding-top: 5px;
    z-index: 1 ;
}
#fundoDeTela {

  position: absolute;
  top: 518px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -100;

}


#top-name{


    

}

.topnav {
    background-color: #333;
    overflow: hidden;
    
  }
                /* Navigation Bar*/

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 14px bold;
  text-transform: uppercase;
  
}
.topnav a:hover {
    background-color:#4caf4f7e;
    color: white;
  }
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }




                /* Parte de corpo da pagina*/ 

body {
  

                    
}

.xp {
  height: 700px;
  width: 50%;
  margin: 0%;
  z-index: 2;

}

.xpIreland {
  position: absolute;
  left: 51%;
  background-color: rgba(188, 143, 143, 0);
  text-align: justify;
  

}

.xpIreland #presentation {
  
 
  

}

.xpBrasil {
  position: absolute;
  background-color: rgba(250, 255, 255, 0);
  left: 50px;
  
  
  
  


}



                                    /* Parte de rodape  */
.footer {

    
    position: absolute;
    background-color: #6c757d77;
    height: 300px;  
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    top: 1500px;
    color: #fff;
    
}

.contactMeText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  

}
.contactMEp {
  
  position: absolute;
  text-align: center;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  


}

.phone_section {
  position: absolute;
  height: 300px;
  width: 33%;

}

#phoneimg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 135px;
  
}

.phoneNumber {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  font-size: 25px;
  
}

.email_section {
  position: absolute;
  height: 300px;
  width: 33%;
  left: 33.5%;

}


#emailimg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 135px;
}

.emailAddress {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  font-size: 25px;

}

.website_section {
  position: absolute;
  height: 300px;
  width: 33%;
  left: 66.5%;
 

}


#wepageimg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  bottom: 135px;

}



.webpage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  font-size: 25px;

}

.social-media {
    padding-top: 10px;
    position: absolute;
    bottom: 50px; 
    width: 100%;

}
.fa {
    padding: 15px;
    font-size: 100px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}
.fa-facebook {
    position: absolute;
    background: #3B5998;
    color: white;
    left: 40%;
    transform: translateX(-50%);
    
  }

.fa-linkedin {
  position: absolute;
  background: #007bb5;
  color: white;
  left: 55%;
  transform: translateX(-50%);
}
#copyright {

    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    
}