
body {
    background-color: rgb(253, 253, 253);
    
   

}

header {
    font: italic 30px normal;
    color:black;
    text-align: center;
    
}

#box{


    background-color: rgba(128, 128, 128, 0.74);
    height: 100px;
    position: relative;
    width: auto;
    
       

}

#descricoes {

    text-align: center;


}
#presentation {
    text-align: center;
    font-size: 25px
}

#presentationText {
    text-align: justify;


}

#copyright {

    position: fixed;
    text-align: center;
    bottom: 10px; 
    width: 100%;


}