
body {
    background-color: rgb(255, 255, 255);
    
    

}

header {
    
    text-align: center;
    font: italic 30px normal;
    color:black;
    
    
}

#presentation {
    text-align: center;
    font-size: 25px
}

#presentationText {
    text-align: justify;


}

#copyright {

    position: fixed;
    text-align: center;
    bottom: 10px; 
    width: 100%;


}